<app-header [title]="title" [subtitle]="subtitle"></app-header>

<div>
  <div class="text-center mb-4">
    <div class="grid">
      <div class="col-1">
        <p-inputSwitch [(ngModel)]="terms"></p-inputSwitch>
      </div>
      <div class="col-11">
        Al hacer click estas aceptando nuestra <span (click)="showTerms()">política de tratamiento de datos</span> y los compromisos que adquieres como beneficiario (a) en el programa Ruta Bogotá E.
      </div>
    </div>
  </div>

  <div *ngIf="terms">
    <div class="card">
        <app-form
          [configuration]="configuration"
          [disabled]="disabled"
          (onSubmit)="validateForm($event)">
        </app-form>
    </div>
  </div>
</div>
<app-modal
  (onClose)="closeModal($event)"
  [message]="message"
  [showModal]="showModal"
  [header]="header"
></app-modal>
