<div class="grid">
  <div class="md:col-3 col-12">
    <div class="text-center">
      <img class="img-fluid" width="200px" src="./assets/img/logoRuta.png" />
    </div>
    <app-login
      (onLogin)="login($event)"
      [loading]="loading"
    >
    </app-login>
    <div class="text-center forgot-link" routerLink="/forgot-password">
      ¿Olvidaste tu contraseña?
    </div>
    <div class="p-3 text-center">
      <div>
        <span class="mr-1">¿No tienes una cuenta?</span>
        <a href="https://rutabogotae.co/registro" class="register-link">¡Regístrate!</a>
      </div>
      <div class="mt-2">
        <label>
          Podrás conocer el estado de madurez de tu emprendimiento.
        </label>
      </div>
    </div>
  </div>
  <div class="md:col-9 col" id="backgroundLogin">
  </div>
</div>

<p-dialog
  header="RutaBogotáE"
  [(visible)]="showModal"
  [style]="{width: '50vw'}"
>
  <div [innerHTML]="message"></div>
  <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="closeModal()"
        label="Cerrar"
        styleClass="p-button-text"
      ></p-button>
  </ng-template>
</p-dialog>
