<div id="footer">
  <div class="grid mt-3">
    <div class="md:col-6 col-6 text-center">
      <a href="https://cymetria.com" target="_blank">
        <img class="img-fluid mt-3" src="../assets/img/dashboard/logo-CYMETRIA.png" />
      </a>
    </div>
    <div class="md:col-6 col-6 text-center">
      <a href="https://desarrolloeconomico.gov.co" target="_blank">
        <img class="img-fluid" src="../assets/img/dashboard/logos_RutaBogotae.png" />
      </a>
    </div>
    <div class="md:col-12 col-12 text-center mt-2 mb-2">
      Para cualquier pregunta o inquietud escribir por favor al correo: <a mailto="contacto@rutabogotae.co">contacto@rutabogotae.co</a>
    </div>
  </div>
</div>
